* {
box-sizing: border-box;
}

.flex-container {
	margin: 0 auto;
	width: 450px;
	display: flex;
	flex-direction: row;
	 flex-wrap: wrap;
	 justify-content: flex-start;
	 font-size: 40px;
	 border: 5px solid grey;
}

.flex-item {
	height: 100px;
	flex-basis: 25%;
	border: 5px solid grey;
	background: black;
	color: white;
	text-align: center;
	margin:0;
}

.flex-item:nth-child(1) {
	flex-basis: 100%;
	
	}

	.innerItem {
		display: flex;
		height: 100%;
	   justify-content: center;
	   align-items: center;
		
	}
	div.flex-item.grey {
		background-color: #666699;
	}